<% content_for :title, "Гродненский Государственный Университет имени Янки Купалы | Главная" %>

<!--Header-->
<%= render  "layouts/header" %>
<!--Title-->
<div class="title-head">
    <div class="img-title">
        <div class="more-info">
            <a href="#">Больше информации ▶</a>
        </div>
    </div>
    <div class="img-title-content">
        <div class="con-img-title">
                <h1>Гродненский Государственный Университет имени Янки Купалы</h1>
                <hr>
                <div class="lang-block">
                    <p><a href="#">Рус</a> ⋅ <a href="#">бел</a> ⋅ <a href="#">Eng</a> ⋅ <a href="#">中文</a> ⋅ <a href="#">Tkm</a></p>
                </div>
                <hr>
                <div class="addr-block">
                    <a href="#">Республика Беларусь, г. Гродно, 230023, ул. Ожешко, 22</a><br>
                    <a href="#">Телефон: +375 (152) 73-19-00</a><br>
                    <a href="#">факс: +375 (152) 73-19-10</a><br>
                    <a href="#">mail@grsu.by</a>
                </div>
                <hr>
                <div class="social-block">
                    <a href="https://www.facebook.com/grsu.grodno" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="https://vk.com/grsu_news" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/school/yanka-kupala-state-university-of-grodno/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/grsu_grodno" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/grsu_grodno/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/user/GrSUby" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
        </div>
    </div>
</div>
<!--News-->
<div class="news-block">
    <div class="news-menu">
        <h1>Последние новости Университета</h1>
        <div class="news-menu-navi">
            <h3>Узать больше новостей</h3>
            <div class = "menu-block-navi">
                <a href="#">Все новости</a>
                <hr>
                <a href="#">Университет</a>
                <hr>
                <a href="#">Факультеты</a>
                <hr>
                <a href="#">Образование</a>
                <hr>
                <a href="#">Наука</a>
                <hr>
                <a href="#">Воспитание</a>
                <hr>
                <a href="#">Международная деятельность</a>
                <hr>
                <a href="#">Спорт</a>
            </div>
            <a href="#">GO</a>
        </div>
    </div>
    <div class="news-view">
        <div class="big-news">
            <%= image_tag("21.jpg", id: "image-title") %>
            <a href="#" id = "text-title">ГрГУ имени Янки Купалы примет сборы по подготовке к чемпионату мира по программированию</a>
            <small id = "date-pablish"><i>Июль 20, 2018</i></small>
            <hr>
        </div>
        <div class="little-news">
            <a href="#" id = "text-title">ГрГУ имени Янки Купалы примет сборы по подготовке к чемпионату мира по программированию</a>
            <small id = "date-pablish"><i>Июль 20, 2018</i></small>
            <hr>
        </div>
        <div class="little-news">
            <a href="#" id = "text-title">ГрГУ имени Янки Купалы примет сборы по подготовке к чемпионату мира по программированию</a>
            <small id = "date-pablish"><i>Июль 20, 2018</i></small>
            <hr>
        </div>
        <div class="little-news">
            <a href="#" id = "text-title">ГрГУ имени Янки Купалы примет сборы по подготовке к чемпионату мира по программированию</a>
            <small id = "date-pablish"><i>Июль 20, 2018</i></small>
            <hr>
        </div>
        <div class="little-news">
            <a href="#" id = "text-title">ГрГУ имени Янки Купалы примет сборы по подготовке к чемпионату мира по программированию</a>
            <small id = "date-pablish"><i>Июль 20, 2018</i></small>
            <hr>
        </div>
        <a href="#" id = "more"><i>больше новостей</i></a>
    </div>
</div>
<!--Spec-Title-->
<h1 id = "spec-title">О нас и о наших факультетах</h1>
<!--Specialties-->
<div class="wrapper">
<div class="specialties">
    <div class="big-block">
        <div class="big-content">
            <h1>О нашем Университете</h1>
            <hr>
            <p>
                Равным образом консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующий условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки новых предложений.

                С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения новых предложений. Товарищи! реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                    
            </p>
            <a href="#">Узнать больше ▶</a>
        </div>
    </div>
</div>
<div class="little-block-contain-1">
    <div class="little-block">
        <div class="con-1">
            <p>Хочешь поступить к нам в Университет, но не знаешь на какой факультет?</p>
            <a href="#">Пройди тест ▶</a>
        </div>
    </div>
    <div class="little-block">
        <div class="con-2">
            <h1 id = "title">Факультет Биологии и экологии</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-3">
            <h1 id = "title">Военный Факультет</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-4">
            <h1 id = "title">Инженерно-строительный Факультет</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
</div>
<div class="normal-block-1">
    <div class="normal-content">
        <h1>Университет в Мире</h1>
        <hr>
        <p>
        Равным образом консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующий условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки новых предложений.
    
        С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения новых предложений. Товарищи! реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                        
        </p>
        <a href="#">Узнать больше ▶</a>
    </div>
</div>
<div class="little-block-contain-2">
    <div class="little-block">
        <div class="con-5">
            <h1 id = "title">Факультет инновационных технологий машиностроения</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-6">
            <h1 id = "title">Факультет искусств и дизайна</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-7">
            <h1 id = "title">Факультет истории коммуникации и туризма</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-8">
            <h1 id = "title">Факультет математики и информатики</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
</div>
<div class="normal-block-2">
    <div class="normal-content">
        <h1>О нашем Персонале</h1>
        <hr>
        <p>
        Равным образом консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующий условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки новых предложений.
            
        С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения новых предложений. Товарищи! реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                                
        </p>
        <a href="#">Узнать больше ▶</a>
    </div>
</div>    
<div class="little-block-contain-3">
    <div class="little-block">
        <div class="con-9">
            <h1 id = "title">Педагогический факультет</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-10">
            <h1 id = "title">Факультет психологии</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-11">
            <h1 id = "title">Физико-технический факультет</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-12">
            <h1 id = "title">Факультет физической культуры</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
</div>
<div class="normal-block-3">
    <div class="normal-content">
        <h1>Путь в Будушее</h1>
        <hr>
        <p>
        Равным образом консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. Разнообразный и богатый опыт начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Не следует, однако забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующий условий активизации. Задача организации, в особенности же дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки новых предложений.
                    
        С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения новых предложений. Товарищи! реализация намеченных плановых заданий представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Задача организации, в особенности же новая модель организационной деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
                                        
        </p>
        <a href="#">Узнать больше ▶</a>
    </div>
</div> 
<div class="little-block-contain-4">
    <div class="little-block">
        <div class="con-13">
            <h1 id = "title">Филологический факультет</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-14">
            <h1 id = "title">Факультет экономики и управления</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-15">
            <h1 id = "title">Юридический факультет</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
    <div class="little-block">
        <div class="con-16">
            <h1 id = "title">Факультет довузовской подготовки</h1>
            <hr id = "sep-con">
            <h1 id = "more-con">Узнать больше</h1>
        </div>
    </div>
</div>
</div>
<!--Footer-->
<%= render  "layouts/footer" %>