<footer>
    <div class="helpful-links">
        <h1>Полезные ссылки</h1>
        <hr>
        <div class="contain">
            <div class="block-1">
                <a href="#">Контакты</a><br><br>
                <a href="#">СМИ университета</a><br><br>
                <a href="#">Академическая мобильность</a>
            </div>
            <div class="block-2">
                <a href="#">Интранет</a><br><br>
                <a href="#">Е-расписание</a><br><br>
                <a href="#">Образовательный портал</a>
            </div>
           <div class="block-3">
                <a href="#">Достижение</a><br><br>
                <%= link_to  "Календарь значимых событий", home_calendars_path %>
           </div>
        </div>
        <div class="sep"></div>
        <h1>Посещение ГрГУ</h1>
        <hr>
            <div class="contain">
                <div class="block-4">
                    <a href="#">Корпусы ГрГУ</a><br><br>
                    <a href="#">Музей ГрГУ</a>
                </div>
                <div class="block-5">
                    <a href="#">Карта & места</a><br><br>
                    <a href="#">Досуг в ГрГУ</a> 
                </div>
                <div class="block-6">
                    <a href="#">День открытых дверей</a><br><br>
                    <a href="#">Больше полезных ресурсов</a>
                </div>
            </div>
            <div class="instagram-img">
                <h1 id = "title"><i class="fa fa-instagram" aria-hidden="true"></i> ГрГУ в инстаграме</h1>
            </div>
    </div>
    <hr id = "hr-sep">
    <div class="down-footer">
        <p>Copiryght © 2018 ГрГУ ⋅ Все Права Защищены ⋅ <a href="#">Generic Code</a></p>
    </div>
    <div class="socialNet">
        <a href="https://www.facebook.com/grsu.grodno" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://vk.com/grsu_news" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/school/yanka-kupala-state-university-of-grodno/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://twitter.com/grsu_grodno" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/grsu_grodno/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/user/GrSUby" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>
</footer>